[submodule "josm"]
	path = josm
    url=git@github.com:skiltz/GeoTrouvetou-josm.git
[submodule "es"]
	path = es
    url=git@github.com:skiltz/GeoTrouvetou-es.git
[submodule "jre"]
	path = jre
    url=git@github.com:skiltz/GeoTrouvetou-jre.git
[submodule "chromium"]
	path = chromium
    url=git@github.com:skiltz/GeoTrouvetou-chromium.git
[submodule "nodejs"]
	path = nodejs
    url=git@github.com:skiltz/GeoTrouvetou-nodejs.git
[submodule "server"]
	path = server
    url=git@github.com:skiltz/GeoTrouvetou-server.git
[submodule "app"]
	path = app
    url=git@github.com:skiltz/GeoTrouvetou-app.git