<!DOCTYPE html>
<html ng-app="GeoTrouvetou" ng-controller="AppCtrl" ng-init="version='v0.0.7'">

<head>
  <title ng-bind="pageTitle"></title>
  <meta charset="utf-8">
  <!-- social media tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@joshdmiller">
  <meta name="twitter:title" content="GeoTrouvetou">
  <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
  <meta name="twitter:creator" content="@joshdmiller">
  <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
  <meta property="og:title" content="GeoTrouvetou" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://bit.ly/GeoTrouvetou" />
  <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
  <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- font awesome from BootstrapCDN -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

  <!-- leaflet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
  <!-- compiled CSS -->
  
    <link rel="stylesheet" type="text/css" href="assets/GeoTrouvetou-0.0.7.css" />
    
      <!-- compiled JavaScript -->
      
        <script type="text/javascript" src="assets/GeoTrouvetou-0.0.7.js"></script>
        
          <!-- leaflet -->
          <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
          <!-- it's stupid to have to load it here, but this is for the +1 button -->
          <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
            {
              "parsetags": "explicit"
            }
          </script>
</head>

<body>
  <div class="container">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <img src="assets/geo-trouvetou.gif" style="height:100%;width:auto; margin-top: -7px;" alt="Logo" />GéoTrouvetou
          <small>
            {{version}}
            </small>
        </div>
      </div>
      <div class="collapse navbar-collapse" collapse="menuCollapsed">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a href ui-sref="acceuil">
              <i class="fa fa-home"></i>
              Acceuil
            </a>
          </li>
          <li ui-sref-active="active">
            <a href ui-sref="departements">
              <i class="fa fa-info-circle"></i>
              Départements
            </a>
          </li>
          <li ui-sref-active="active">
            <a href ui-sref="communes({departement:{{fav_dept}}})">
              <i class="fa fa-info-circle"></i>
              Communes du {{fav_dept}}
            </a>
          </li>
          <li ui-sref-active="active">
            <a href ui-sref="recherche">
              <i class="fa fa-search"></i>
              Chercher une voie
            </a>
          </li>
          <li ui-sref-active="active">
            <a href ui-sref="recherche_bano">
              <i class="fa fa-house"></i>
              Recherche BANO
            </a>
          </li>
          <li ui-sref-active="active">
            <a href ui-sref="aide">
              <i class="fa fa-life-ring"></i>
              Aide
            </a>
          </li>
          <li>
            <a ng-show="!databaseIsOn"><i popover-placement="bottom" popover="La base de donnée n'est pas encore démarrée!"  class="fa fa-spin fa-circle-o-notch"></i></a>
            <a class="{{status}}" ng-show="databaseIsOn">
            <span class="fa-stack fa">
            <i popover-placement="bottom" popover="{{databasePopMessage}}"  class="fa fa-database fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-warning" ng-show="status==='bg-danger'"></i>
            </span>  
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-controller="SearchCtrl" class="SearchCtrl">
    <form ng-keypress="submit($event)" class="SearchCtrl" novalidate>
      <div class="input-group">
        <span class="input-group-addon SearchCtrl"><i class="fa fa-search SearchCtrl"></i></span>
        <input type="text" ng-model="asyncSelected" placeholder="Commune ?" typeahead="commune as commune.text for commune in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control SearchCtrl">
      </div>
    </form>
    <i ng-show="loadingLocations" class="fa fa-refresh"></i>
  </div>
  <div class="container" ui-view="main"></div>
  <footer class="footer">
    <div class="container">
      <div class="footer-inner">
        <ul class="social">
          <li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="fa fa-google-plus-sign"></i></a>
          </li>
          <li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="fa fa-twitter-sign"></i></a>
          </li>
          <li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="fa fa-linkedin-sign"></i></a>
          </li>
          <li><a target="_blank" href="http://github.com/ngbp/ngbp"><i class="fa fa-github-sign"></i></a>
          </li>
        </ul>

        <p>
          (c) 2014 Julien Noblet.
          <br />GéoTrouvetou is based on
          <a href="http://www.angularjs.org">AngularJS</a>,
          <a href="http://getbootstrap.com">Bootstrap</a>,
          <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
          <a href="http://leafletjs.com">Lefleat</a>, and
          <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.
        </p>
      </div>
    </div>
  </footer>
</body>

</html>